* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #130026;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 110%;
}

nav {
  display: grid;
  grid-template-columns: 10fr 10fr;
  padding: 5px 2%;
  align-content: center;
  color: white;
  height: 40px;
  font-weight: 400;
}

nav a:first-child {
  text-transform: uppercase;
}

nav a:last-child {
  justify-self: end;
}

main {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #220340;
  position: relative;
}

section {
  padding: 5px 2%;
}

#results {
  background-color: lightgray;
  padding: 10px;
}
section header {
  display: grid;
  grid-template-columns: 10fr 10fr;
  align-content: center;
  color: white;
  height: 40px;
  font-weight: 400;
}

section header div:last-child {
  justify-self: end;
}

.btn-open-modal {
  cursor: pointer;
}
.oneFlight {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  margin: auto auto 10px auto;
}

.control {
  display: grid;
  grid-template-columns: 10fr 10fr;
  width: 15%;
  margin: 0px 0px 20px auto;
  text-align: right;
}

.control div:first-child {
  color: green;
  font-weight: 400;
  cursor: pointer;
}
.control div:last-child {
  color: red;
  font-weight: 400;
  cursor: pointer;
}
.route {
  display: grid;
  grid-template-columns: 20fr 80fr;
}
.col-date {
  padding: 10px 0px;
  font-weight: 400;
}
.row-details {
  display: grid;
  grid-template-columns: 80fr 20fr;
  padding: 10px 0px;
}

.row-details img {
  width: 40px;
  height: auto;
}

.waiting-time-row {
  display: grid;
  grid-template-columns: 80fr 20fr;
  padding: 10px 0px;
  border-top: 1px dashed lightgray;
  border-bottom: 1px dashed lightgray;
}

.col-left div:first-child {
  font-weight: 400;
}
.col-right {
  justify-self: right;
  font-weight: 400;
}

.row-price {
  padding: 20px 0px 0px 0px;
  text-align: right;
}
.row-price span {
  font-weight: 400;
}

/* #################################################################################################################### */

.login-section {
  width: 40%;
  margin: 10% auto auto auto;
}
.login-section p {
  color: white;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 110%;
}
#loginForm {
  width: 100%;
  display: grid;
}

#loginForm input {
  margin-bottom: 15px;
  border-radius: 5px;
  height: 30px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 110%;
}

label {
  color: white;
  font-weight: 300px;
}

button {
  height: 30px;
  width: 30%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f7498e;
  color: white;
  font-size: 110%;
  cursor: pointer;
}

/* #################################################################################################################### */

.modal,
.modal-edit {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.modal-content {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 100px;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
  padding: 50px 50px 50px 50px;
  overflow-y: scroll;
}

.modal-edit .modal-content {
  height: fit-content;
  overflow: hidden;
}
.modal-edit .modal-content h4 {
  text-align: center;
  margin-top: 40px;
}

.modal section {
  padding: 0px;
}
.modal .oneRoute {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
}
.modal label,
.modal-edit label {
  color: black;
  display: grid;
  padding: 10px 20px;
  font-size: 90%;
}

.modal-edit label {
  margin-bottom: 40px;
}

#closeBth {
  padding: 20px 20px 0px 20px;
  font-weight: 400;
  text-align: right;
  cursor: pointer;
}
.modal p,
.modal h2 {
  padding: 20px 20px 0px 20px;
  font-weight: 400;
}
.modal input,
.modal-edit input {
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 110%;
}

.departureTime,
.arrivalTime,
.waitingTime {
  width: 33.33%;
}
.fromCity,
.toCity {
  width: 100%;
}
.airlinesName {
  width: 70%;
}
.airlinesShortcut {
  width: 30%;
}
#btnAddRoute {
  padding: 10px 20px;
  text-align: right;
  font-weight: 400;
  cursor: pointer;
}
.modal .priceBox {
  padding: 0px 20px 20px 20px;
  width: 30%;
}
#saveFlightButton,
#updateFlightButton {
  margin: auto 20px 50px auto;
  padding: 10px 20px;
  display: block;
  height: auto;
  background: #28a745;
}

.nextRouteBreak {
  text-align: center;
  position: relative;
  width: 70%;
  margin: 50px auto;
  color: grey;
}
.nextRouteBreak:before {
  content: "";
  width: 40%;
  border-bottom: solid 1px #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.nextRouteBreak:after {
  content: "";
  width: 40%;
  border-bottom: solid 1px #d3d3d3;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}
/* #################################################################################################################### */

.logout-section {
  color: white;
  width: 50%;
  margin: 100px auto auto auto;
  text-align: center;
}

.hide {
  display: none;
}
